.additional-card__title {
  display: flex;
  text-decoration: none;
}

.additional-card__name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}
.additional-card__wrapper {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  margin-bottom: 15px;
}
.additional-card__item {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-card__value {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}
