.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  justify-content: center;
}

.additional {
  width: 100%;
}

.additional__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.additional__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  margin: 8px 20px 14px 20px;
}

.additional__card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border-style: none;
  width: 280px;
  font-family: "Oswald", sans-serif;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 14px;
}

.button--more {
  background-color: #f2f2f2;
  color: #000000;
  order: 4;
}

@media (max-width: $mobile-width-only) {
  .additional__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    padding: 25px 36px 49px 20px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .additional {
    border-top: 2px solid #68b738;
    position: relative;
  }

  .additional__title {
    position: absolute;
    background-color: #ffffff;
    top: -45px;
    left: 67px;
    padding-left: 40px;
    padding-right: 35px;
  }

  .additional__wrapper {
    margin-top: 81px;
  }

  .additional__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 69px 30px;
  }

  .additional__card {
    display: flex;
    flex-direction: row;
    padding: 26px 38px 28px 38px;
    margin: 0;
    border: 1px solid #ebebeb;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    justify-content: space-between;
    border-top: 2px solid #68b738;
    position: relative;
  }

  .additional__title {
    position: absolute;
    background-color: #ffffff;
    top: -45px;
    left: 110px;
    padding-left: 40px;
    padding-right: 35px;
  }

  .additional__part {
    display: flex;
    flex-wrap: nowrap;
  }

  .additional__wrapper {
    margin-top: 81px;
  }

  .additional__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding: 15px 20px 5px 20px;
    border-left: none;
    border-right: none;
  }
}
