.additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  padding: 25px 36px 49px 20px;
  margin: 0;
}

.additional {
  width: 100%;
}

.additional__wrapper {
  display: flex;
}
.additional__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.additional__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid rgba(235, 235, 235, 1);
  margin: 8px 20px 14px 20px;
}

.additional-card__title {
  display: flex;
  text-decoration: none;
}

.additional-card__name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}
.additional-card__wrapper {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  margin-bottom: 15px;
}
.additional-card__item {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-card__value {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional__card__button {
  display: flex;
	justify-content: center;
	align-items: center;
	background-color: #68B738;
	border-style: none;
	width: 280px;
  font-family: "Oswald", sans-serif;
  height: 40px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 14px;
}
