.additional-card__title {
  display: flex;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.additional-card__name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
}

.additional-card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-card__item {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-card__value {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

@media (max-width: $mobile-width-only) {
  .additional__card__button--main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b738;
    border-style: none;
    font-family: "Oswald", sans-serif;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 14px;
  }
}

@media (min-width: $tablet-width) {
  .additional__card__button--main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b738;
    border-style: none;
    font-family: "Oswald", sans-serif;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 14px;
    width: 632px;
  }

  .additional-card__wrapper {
    margin-bottom: 0;
    width: 50%;
    margin-top: 15px;
  }

  .additional-card__products {
    display: flex;
    width: 50%;
  }

  .additional-card__value {
    width: 128px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .additional-card__order {
    display: flex;
    margin-left: 40px;
  }

  .additional__card__button--main {
    width: 244px;
  }

  .additional-card__wrapper {
    width: 243px;
  }

  .additional-card--last {
    border-bottom: 1px solid #ebebeb;
  }
}
