.additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  justify-content: center;
}

.additional {
  border-top: 2px solid #68b738;
  width: 100%;
}

.additional__products {
  background-color: #ffffff;
  position: absolute;
}

.additional__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
}

.additional__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  margin: 8px 20px 14px 20px;
}

.additional__list .additional-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border-style: none;
  width: 280px;
  font-family: "Oswald", sans-serif;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 14px;
}

.button--more {
  background-color: #f2f2f2;
  color: #000000;
  order: 4;
}

@media (max-width: $mobile-width-only) {
  .additional__title {
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    background-color: #ffffff;
    top: -30px;
    left: 0;
    padding-left: 20px;
    padding-right: 21px;
    margin-top: 22px;
    margin-bottom: 5px;
  }

  .additional__list .button--green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b738;
    border-style: none;
    font-family: "Oswald", "Arial", sans-serif;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 18px;
  }

  .additional__products {
    background-color: #ffffff;
    position: relative;
  }

  .additional__wrapper {
    margin-top: 45px;
  }

  .additional__card {
    margin: 05px 20px 2px;
  }
}

@media (min-width: $tablet-width) {
  .additional__title {
    position: absolute;
    background-color: #ffffff;
    top: -50px;
    left: 25px;
    padding-left: 40px;
    padding-right: 35px;
  }

  .additional__list .button--green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b738;
    border-style: none;
    font-family: "Oswald", "Arial", sans-serif;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 14px;
    margin-top: 15px;
    width: 632px;
  }

  .additional__products {
    background-color: #ffffff;
    position: relative;
  }

  .additional__wrapper {
    margin-top: 90px;
  }

  .additional__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 10px;
  }

  .additional__card {
    display: flex;
    flex-direction: row;
    padding: 24px 38px 20px;
    margin: 0;
    border: 1px solid #ebebeb;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    justify-content: space-between;
  }

  .additional__title {
    position: absolute;
    background-color: #ffffff;
    top: -55px;
    left: 70px;
    padding-left: 40px;
    padding-right: 35px;
  }

  .additional__list .button--green {
    width: 244px;
    margin-bottom: 0;
  }

  .additional__products {
    background-color: #ffffff;
    position: relative;
  }

  .additional__part {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .additional__wrapper {
    margin-top: 50px;
  }

  .additional__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding: 15px 20px 5px 20px;
    border-left: none;
    border-right: none;
  }

  .additional-card__products {
    width: auto;
    margin-right: 164px;
  }

  .additional-card__value {
    width: auto;
  }

  .additional-card__wrapper {
    margin-right: 40px;
    justify-content: space-between;
  }
}
