.additional-card__title {
  display: flex;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.additional-card__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  margin-top: 5px;
  margin-bottom: 15px;
}

.additional-card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-card__item {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.additional-card__value {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .additional-card__wrapper {
    margin-bottom: 0;
    width: 50%;
    margin-top: 15px;
    justify-content: flex-end;
  }

  .additional-card__products {
    display: flex;
    width: 50%;
  }

  .additional-card__value {
    width: 128px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 20px;
  }

  .additional-card__name {
    font-size: 20px;
    line-height: 20px;
    margin: 2px 0 2px 0;
  }

  .additional-card__item {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .additional-card__order {
    display: flex;
    margin-left: 40px;
    align-items: center;
  }

  .additional-card__wrapper {
    width: 285px;
    align-items: center;
    margin-top: 0;
  }

  .additional-card--last {
    border-bottom: 1px solid #ebebeb;
  }
}
