@media (max-width: $mobile-width-only) {
  .advantages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    min-height: 380px;
  }

  .advantages__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 42px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    min-height: 300px;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    margin-left: 80px;
    height: 60px;
    padding-right: 3px;
  }

  .advantages__item--nutrition::before {
    width: 60px;
    height: 60px;
    content: url("img/images-advantage/advantage-natural.svg");
    position: absolute;
    left: -80px;
  }

  .advantages__item--powder::before {
    width: 60px;
    height: 60px;
    content: url("img/images-advantage/advantage-powder.svg");
    position: absolute;
    left: -80px;
  }

  .advantages__item--economy::before {
    width: 60px;
    height: 60px;
    content: url("img/images-advantage/advantage-fork.svg");
    position: absolute;
    left: -80px;
  }

  .advantages__item--result::before {
    width: 60px;
    height: 60px;
    content: url("img/images-advantage/advantage-result.svg");
    position: absolute;
    left: -80px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: 45px;
  }

  .advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: space-around;
    height: 280px;
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__item--nutrition {
    width: 230px;
    margin-right: 97px;
    background-image: url("img/images-tablet/card-one.svg");
  }

  .advantages__item--nutrition::before {
    content: url("img/images-advantage/advantage-natural.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__item--powder {
    width: 246px;
    margin-right: 76px;
    background-image: url("img/images-tablet/card-two.svg");
  }

  .advantages__item--powder::before {
    content: url("img/images-advantage/advantage-powder.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__item--economy {
    width: 247px;
    margin-right: 77px;
    background-image: url("img/images-tablet/card-three.svg");
  }

  .advantages__item--economy::before {
    content: url("img/images-advantage/advantage-fork.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__item--result {
    width: 249px;
    margin-right: 76px;
    background-image: url("img/images-tablet/card-four.svg");
  }

  .advantages__item--result::before {
    content: url("img/images-advantage/advantage-result.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 42px;
    margin-top: 0;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 71px;
  }

  .advantages__wrapper {
    flex-direction: column;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    margin-left: 110px;
    margin-right: 110px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: space-around;
    height: 280px;
  }

  .advantages__item--nutrition {
    width: 230px;
    margin-right: 0;
    background-image: url("img/images-tablet/card-one.svg");
  }

  .advantages__item--nutrition::before {
    content: url("img/images-advantage/advantage-natural.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__item--powder {
    width: 246px;
    margin-right: 0;
    background-image: url("img/images-tablet/card-two.svg");
  }

  .advantages__item--powder::before {
    content: url("img/images-advantage/advantage-powder.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__item--economy {
    width: 247px;
    margin-right: 0;
    background-image: url("img/images-tablet/card-three.svg");
  }

  .advantages__item--economy::before {
    content: url("img/images-advantage/advantage-fork.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__item--result {
    width: 249px;
    margin-right: 0;
    background-image: url("img/images-tablet/card-four.svg");
  }

  .advantages__item--result::before {
    content: url("img/images-advantage/advantage-result.svg");
    position: absolute;
    top: 20px;
  }

  .advantages__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 42px;
    margin-top: 0;
    margin-left: 110px;
  }
}
