.application-form__wrapper {
  display: flex;
}

.application-form__group {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  border: none;
  padding: 0;
  margin: 0;
}

.application-form__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  width: 280px;
  display: flex;
}

.application-form__field {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  flex-grow: 1;
}

.application-form__group-list {
  text-decoration: none;
  list-style-type: none;
}

.application-form__button--green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .application-form__wrapper {
    display: flex;
    flex-grow: 1;
    margin: 66px 67px 72px 71px;
  }

  .application-form__additional {
    visibility: hidden;
  }
}

@media (min-width: $tablet-width) {
  .application-form__field {
    font-size: 20px;
    line-height: 30px;
  }

  .application-form__group {
    margin-left: 71px;
    margin-right: 67px;
    margin: 0;
  }

  .application-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .application-form__input {
    width: 630px;
    margin-bottom: 20px;
  }

  .application-form__label {
    margin-right: 13px;
  }

  .application-form__wrapper--cat {
    margin-bottom: 72px;
    margin-left: 71px;
    margin-right: 67px;
  }

  .application-form__wrapper--options {
    margin: 0 69px 75px 71px;
  }

  .application-form__group-list--radiobutton {
    margin-top: 25px;
    margin-left: 27px;
    padding: 0;
    width: 628px;
  }

  .application-form__group-list--radiobutton.application-form__group-list {
    margin: 0;
    padding-left: 27px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #e7e7e7;
  }

  .application-form__radiobutton {
    margin-bottom: 13px;
  }

  .application-form__wrapper--owner {
    border-top: 2px solid #68b738;
    position: relative;
  }

  .application-form__owner {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: #ffffff;
    padding-left: 39px;
    padding-right: 42px;
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
  }

  .application-form__input--email {
    margin: 76px 66px 20px 71px;
  }

  .application-form__input--phone {
    margin: 0 66px 65px 68px;
  }

  .application-form__wrapper--comments {
    border-top: 2px solid #68b738;
    position: relative;
  }

  .application-form__comments {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: #ffffff;
    padding-left: 39px;
    padding-right: 38px;
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
  }

  .application-form__input--comments {
    margin: 76px 67px 65px 70px;
    width: 631px;
    height: 174px;
    display: flex;
  }

  .application-form__textarea {
    flex-grow: 1;
  }

  .application-form__wrapper--additional {
    border-top: 2px solid #68b738;
    position: relative;
  }

  .application-form__additional {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: #ffffff;
    padding-left: 39px;
    padding-right: 38px;
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
  }

  .application-form__group-list--checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 57px 70px 54px 70px;
  }

  .application-form__checkbox--sugar {
    margin-bottom: 32px;
    margin-right: 123px;
  }

  .application-form__checkbox--milk {
    margin-right: 197px;
  }

  .application-form__button--green {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-right: 64px;
  }

  .application-form__send {
    display: flex;
    flex-wrap: wrap;
    margin-left: 71px;
    flex-direction: row;
  }

}

@media (min-width: $desktop-width) {
  .application-form__group-list--checkbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-evenly;
    width: 1200px;
    margin-left: 71px;
  }

  .application-form__part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .application-form__input {
    width: 569px;
    margin-bottom: 20px;
  }

  .application-form__group-list--radiobutton {
    width: 568px;
  }

  .application-form__wrapper--cat {
    margin-bottom: 72px;
    margin-left: 71px;
    margin-right: 0;
  }

  .application-form__wrapper--options {
    margin: 0 69px 75px 80px;
  }
}
