.application-form__wrapper {
  display: flex;
}

.application-form__group {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  border: none;
  padding: 0;
  position: relative;
}

.application-form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  width: 280px;
  display: flex;
}

.application-form__label {
  // margin-left: 20px;
  align-self: center;
}

.application-form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
  flex-grow: 1;

  &:hover {
    outline: 1px solid #e7e7e7;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }
}

.application-form__group-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.application-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.application-form__radiobutton {
  display: flex;
  min-height: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .application-form__label-radiobutton {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }

  .application-form__input-radiobutton {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .application-form__input-radiobutton:checked ~ .application-form__checkmark {
    &::after {
      display: block;
    }
  }

  .application-form__input-radiobutton:disabled ~ .application-form__checkmark {
    &::after {
      opacity: 0.3;
    }
  }

  .application-form__text-radiobutton {
    margin-left: 10px;

    &:hover {
      color: #222222;
    }

    &:disabled {
      color: #222222;
      opacity: 0.3;
    }
  }

  .application-form__checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  .application-form__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 8px;
    left: 8px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #68b738;
  }
}

.application-form__checkbox {
  display: flex;
  height: 40px;

  &:hover {
    color: #222222;
  }

  &:active {
    color: #222222;
    opacity: 0.3;
  }

  .application-form__label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }

  .application-form__input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .application-form__input-checkbox:checked ~ .application-form__checkmark {
    &::after {
      display: block;
    }
  }

  .application-form__input-checkbox:disabled ~ .application-form__checkmark {
    &::after {
      opacity: 0.3;
    }
  }

  .application-form__checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 40px;
    width: 40px;
    border: 1px solid #cdcdcd;

    &::after {
      content: "";
      position: absolute;
      display: none;
      top: 2px;
      left: 12px;
      width: 33%;
      height: 57%;
      border: solid #68b738;
      border-width: 0 3px 3px 0;
      // -webkit-transform: rotate(45deg);
      // -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      // background: url("../../img/images-tablet/checkbox-checked.svg");
    }
  }

  .application-form__text-checkbox {
    margin-left: 15px;
  }
}

@media (max-width: $mobile-width-only) {
  .application-form__wrapper--cat {
    margin-top: 37px;
  }

  .application-form__input {
    margin-bottom: 10px;
  }

  .application-form__label {
    margin-right: 13px;
  }

  .application-form__group {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .application-form__group--cat {
    margin-bottom: 10px;
  }

  .application-form__wrapper--options {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  .application-form__group-list--radiobutton {
    padding: 0;
    margin-top: 30px;
  }

  .application-form__radiobutton {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 18px;
  }

  .application-form__wrapper--owner {
    border-top: 2px solid #68b738;
  }

  .application-form__owner--part {
    margin-top: 34px;
  }

  .application-form__input--email {
    margin: 30px 20px 10px 0;
  }

  .application-form__input--phone {
    margin: 0 20px 20px 0;
  }

  .application-form__wrapper--comments {
    border-top: 2px solid #68b738;
    width: 100%;
  }

  .application-form__title {
    position: absolute;
    top: -15px;
    left: 10px
    background-color: #ffffff;
    padding: 0 11px;
    text-transform: none;
    font-size: 24px;
    line-height: 26px;
  }

  .application-form__input--comments {
    margin: 37px 20px 22px 0;
    width: 280px;
    min-height: 150px;
    display: flex;
  }

  .application-form__textarea {
    flex-grow: 1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .application-form__checkbox {
    margin-bottom: 14px;
    margin-top: 34px;
  }

  .application-form__wrapper--additional {
    border-top: 2px solid #68b738;
    width: 100%;
  }

  .application-form__group-list--checkbox {
    padding: 0;
    margin-left: 20px;
  }

  .application-form__button {
    width: 280px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .application-form__part {
    width: auto;
    margin-bottom: 37px;
  }
}

@media (min-width: $tablet-width) {
  .application-form__text-radiobutton {
    font-size: 20px;
    line-height: 29px;
  }

  .application-form__field {
    font-size: 20px;
    line-height: 30px;
  }

  .application-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .application-form__input {
    width: 630px;
    margin-bottom: 20px;
  }

  .application-form__label {
    margin-right: 13px;
  }

  .application-form__wrapper--cat {
    margin-bottom: 72px;
    margin-left: 71px;
    margin-right: 67px;
  }

  .application-form__wrapper--options {
    margin: 0 69px 75px 71px;
  }

  .application-form__group-list--radiobutton {
    margin-top: 25px;
    margin-left: 27px;
    padding: 0;
    width: 628px;
  }

  .application-form__group-list--radiobutton .application-form__group-list {
    margin: 0;
    padding-left: 27px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #e7e7e7;
  }

  .application-form__radiobutton {
    margin-top: 10px;
    margin-bottom: 13px;
  }

  .application-form__wrapper--owner {
    border-top: 2px solid #68b738;
    width: 100%;
  }

  .application-form__input--email {
    margin: 76px 66px 20px 71px;
  }

  .application-form__input--phone {
    margin: 0 66px 65px 71px;
  }

  .application-form__wrapper--comments {
    border-top: 2px solid #68b738;
    width: 100%;
  }

  .application-form__title {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: #ffffff;
    padding-left: 39px;
    padding-right: 38px;
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
  }

  .application-form__input--comments {
    margin: 76px 67px 65px 70px;
    width: 631px;
    height: 174px;
    display: flex;
  }

  .application-form__textarea {
    flex-grow: 1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .application-form__wrapper--additional {
    border-top: 2px solid #68b738;
    width: 100%;
  }

  .application-form__group-list--checkbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 57px 70px 54px 70px;
    padding: 0;
  }

  .application-form__group-list--checkbox {
    display: flex;
  }

  .application-form__group-list--checkbox .application-form__text-checkbox {
    padding-top: 5px;
  }

  .application-form__checkbox {
    margin-bottom: 32px;
    min-height: 40px;
    text-align: start;
    box-sizing: border-box;
    width: 50%;
  }

  .application-form__button {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-right: 64px;
  }

  .application-form__send {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .application-form__group-list--checkbox {
    display: flex;
    flex-wrap: wrap;
    // margin: 57px 205px 61px 55px;
    // padding: 0;
    // justify-content: space-between;
    width: 1200px;
    margin: 110px ;
  }

  .application-form__checkbox {
    text-align: start;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    margin-bottom: 61px;
  }

  .application-form__part {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1400px;
  }

  .application-form__group--cat {
    width: auto;
  }

  .application-form__group--radiobutton {
    width: 100%;
  }

  .application-form__input {
    width: 569px;
    margin-bottom: 20px;
  }

  .application-form__group-list--radiobutton {
    width: 568px;
    min-height: 175px;
    margin-top: 0;
  }

  .application-form__wrapper--cat {
    margin-bottom: 72px;
    margin-left: 31px;
    margin-right: 80px;
  }

  .application-form__wrapper--options {
    width: 100%;
    margin: 0 69px 75px 0;
  }

  .application-form__owner--part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .application-form__input--email {
    margin: 76px 0 67px 71px;
  }

  .application-form__input--phone {
    margin: 78px 110px 67px 67px;
  }

  .application-form__input--comments {
    width: 1220px;
    margin-bottom: 67px;
  }

  .application-form__group {
    font-size: 20px;
    line-height: 29px;
  }

  .application-form__button {
    width: 568px;
    height: 52px;
    margin-left: 55px;
  }

  .application-form__send {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
  }
}
