.application-form {

}
.application-form__wrapper{
  display: flex;
  flex-grow: 1;
}
.application-form__group {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:#444444;
  border: none;
  padding: 0;
  margin: 0;
}
.application-form__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:#444444;
  width: 280px;
}

.application-form__field {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:#444444;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 13px;
}

.application-form__group-list {
  text-decoration: none;
  list-style-type: none;
}
