.catalog__wrapper {
  display: flex;
  justify-content: center;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalog__list {
  align-items: flex-start;
}

@media (max-width: $mobile-width-only) {
  .catalog__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 20px 0 20px;
  }

  .catalog__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    width: 280px;
    min-height: 190px;
  }

  .catalog__wrapper {
    margin-bottom: 32px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 82px 30px 33px;
  }

  .catalog__card {
    width: 324px;
    min-height: 488px;
    padding: 0;
    margin-bottom: 50px;
  }

  .catalog__card:nth-child(odd) {
    margin-right: 60px;
  }

  // .catalog__wrapper {
  //   padding-top: 70px;
  // }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    padding: 0;
    margin: 0 0 0 110px;
    align-items: flex-start;
  }

  .catalog__card {
    width: 245px;
    min-height: 488px;
    justify-content: flex-start;
    margin-bottom: 89px;
    margin-right: 80px;
  }

  .catalog__card:nth-child(odd) {
    margin-right: 80px;
  }

  .catalog__wrapper {
    padding-top: 70px;
  }
}
