.catalog-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 14px;
}

.catalog-card__button p {
  text-align: center;
}

.catalog-card__button:active {
  background-color: #5eaa2f;
}

.catalog-card__button--green:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}

.catalog-card__title {
  text-decoration: none;
  display: flex;
}

.catalog-card__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

.catalog-card__list {
  margin: 0;
}

.catalog-card__item {
  font-family: "lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.catalog-card__item-name {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-card__item-value {
  display: flex;
}

.catalog-card__product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-card__title--add {
  display: flex;
  justify-content: center;
  color: #000000;
  position: relative;
  order: 2;
}

.catalog-card__name--add {
  display: flex;
  order: 2;
  text-align: center;
  margin-top: 80px;
}

.button--gray {
  background-color: #f2f2f2;
  color: #444444;
  order: 4;
}

.catalog-card--more {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: $mobile-width-only) {
  .catalog-card__information {
    display: flex;
    margin: 19px 0 13px 0;
  }

  .catalog-card__name {
    padding-right: 64px;
    margin-top: 11px;
    text-align: start;
  }

  .catalog-card__name--add {
    order: 1;
    text-align: center;
    margin: 0 5px 0 5px;
    padding: 0;
  }

  .catalog-card__description {
    order: 2;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 21px;
  }

  .catalog-card__link {
    padding: 14px 36px 12px 36px;
  }

  .catalog-card__link--big {
    padding: 11px 28px 1px 28px;
  }

  .catalog-card__button {
    width: 280px;
    margin-bottom: 14px;
  }

  .catalog-card__title--add::before {
    content: url("../img/images-mobile/plus.svg");
    order: 1;
    position: absolute;
    top: -60px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-card__information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8px 36px 33px 36px;
  }

  .catalog-card__name {
    font-size: 20px;
    line-height: 24px;
    margin: 0 48px 21px 45px;
  }

  .catalog-card__name--add {
    display: flex;
    order: 2;
    text-align: center;
    margin: 49px 94px 23px 96px;
    padding: 0;
  }

  .catalog-card__title {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .catalog-card__title--add::before {
    content: url("../img/images-catalog/plus-desktop.svg");
    order: 1;
    position: absolute;
    top: -49px;
  }

  .catalog-card__link {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 168px;
    height: 200px;
    align-self: center;
  }

  .catalog-card__link--big {
    padding: 0;
    margin-bottom: 24px;
  }

  .catalog-card__image {
    width: 100%;
    height: auto;
  }

  .catalog-card__item {
    width: 246px;
    border-bottom: 1px solid #cdcdcd;
    padding: 7px 0 9px 0;
  }

  .catalog-card__button {
    width: 248px;
    display: flex;
    align-self: center;
    margin-bottom: 39px;
  }

  .catalog-card--more {
    background-color: #ffffff;
    color: #000000;
    outline: 2px solid #f2f2f2;
    min-height: 429px;
    margin-top: 150px;
  }

  .catalog-card {
    background: linear-gradient(
      to top,
      #f2f2f2 430px,
      #ffffff 81px
      );
  }

  .catalog-card__description {
    display: flex;
    order: 3;
    color: #444444;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: 0 80px 87px 80px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__button {
    width: 168px;
    margin-bottom: 40px;
  }

  .catalog-card__item {
    width: 165px;
  }

  .catalog-card--more {
    min-height: 431px;
    margin-top: 150px;
  }

  .catalog-card__name {
    margin: 0 20px 0 20px;
  }

  .catalog-card__link {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 172px;
    height: 196px;
    align-self: center;
    margin-top: 0;
  }

  .catalog-card__link--big {
    padding: 0;
    margin-top: 0;
  }

  .catalog-card__name--add {
    margin: 0 40px;
  }

  .catalog-card__title--add::before {
    content: url("img/images-catalog/plus-desktop.svg");
    order: 1;
    position: absolute;
    top: -100px;
  }

  .catalog-card__description {
    margin: 20px 40px 85px;
  }
}
