.catalog-card__button {
  display: flex;
	justify-content: center;
	align-items: center;
	background-color: #68B738;
	border-style: none;
	width: 280px;
  font-family: "Oswald", sans-serif;
  height: 40px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.catalog-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.catalog-card__name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.catalog-card__information {
  display: flex;
  flex-direction: column;
}
.catalog-card__list {
  margin: 18px 0 9px 0;
}
.catalog-card__item {
  font-family: "lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  width: 140px;
}
.catalog-card__item-name {
  display: flex;
  margin: 0;
  padding: 0;
}
.catalog-card__item-value {
  display: flex;
}

.catalog-card__product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 64px;
}
