.catalog-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  border-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 14px;
}

.catalog-card__button p {
  text-align: center;
}

.catalog-card__button:active {
  background-color: #5eaa2f;
}

.catalog-card__button--green:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}

.catalog-card__title {
  text-decoration: none;
  display: flex;
}

.catalog-card__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

.catalog-card__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-card__item {
  font-family: "lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.catalog-card__item-name {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-card__item-value {
  display: flex;
}

.catalog-card__product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -10px;
}

.catalog-card__title--add {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000000;
  position: relative;
  order: 2;
}

.catalog-card__name--add {
  display: flex;
  order: 2;
  text-align: center;
  margin-top: 80px;
}

.button--gray {
  background-color: #f2f2f2;
  color: #444444;
  order: 4;
}

.catalog-card--more {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: $mobile-width-only) {
  .catalog-card__information {
    display: flex;
    margin: 19px 0 20px 0;
  }

  .catalog-card__information--big {
    margin: 19px 0 12px;
  }

  .catalog-card__link .catalog-card__information--big {
    margin-right: 28px;
  }

  .catalog-card__name {
    padding-right: 64px;
    margin-top: 11px;
    text-align: start;
  }

  .catalog-card__name--add {
    order: 1;
    text-align: center;
    margin: 0 5px 0 5px;
    padding: 0;
  }

  .catalog-card__description {
    order: 2;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 21px;
  }

  .catalog-card__link {
    // padding: 14px 36px 12px 36px;
    margin-left: 37px;
    margin-top: 10px;
    flex-shrink: 0;
    margin-right: 33px;
  }

  .catalog-card__link--big {
    margin-left: 28px;
    margin-top: 10px;
    flex-shrink: 0;
    margin-right: 28px;
  }

  .catalog-card__button {
    width: 280px;
    margin-bottom: 25px;
  }

  .catalog-card__title--add {
    margin-top: 25px;
  }

  .catalog-card__title--add::before {
    content: url("../img/images-mobile/plus.svg");
    padding-bottom: 23px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-card__information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8px 36px 33px 36px;
  }

  .catalog-card__name {
    font-size: 20px;
    line-height: 24px;
    margin: 0 48px 16px 45px;
  }

  .catalog-card__item {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog-card__name--add {
    display: flex;
    order: 2;
    text-align: center;
    margin: 0 94px 18px 96px;
    padding: 0;
  }

  .catalog-card__title {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 22px;
  }

  .catalog-card__title--add::before {
    content: url("../img/images-catalog/plus-desktop.svg");
    order: 1;
    margin-bottom: 49px;
  }

  .catalog-card__link {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 168px;
    height: auto;
    align-self: center;
    margin: 0 0 42px;
    flex-shrink: 0;
  }

  .catalog-card__link--big {
    padding: 0;
    margin: 0 0 46px;
    flex-shrink: 0;
  }

  .catalog-card__image {
    width: 100%;
    height: auto;
  }

  .catalog-card__item {
    width: 246px;
    border-bottom: 1px solid #cdcdcd;
    padding: 7px 0 9px 0;
  }

  .catalog-card__button {
    width: 248px;
    display: flex;
    align-self: center;
    margin-bottom: 39px;
  }

  .catalog-card--more {
    background-color: #ffffff;
    color: #000000;
    outline: 2px solid #f2f2f2;
    min-height: 429px;
    // margin-top: 90px;
    background: none;
  }

  .catalog-card--main {
    background: #f2f2f2;
  }

  .catalog-card__description {
    display: flex;
    order: 3;
    color: #444444;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin: 0 80px 87px 80px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__information {
    margin: 0;
  }
  .catalog-card__button {
    width: 168px;
    margin-bottom: 40px;
  }

  .catalog-card__item {
    width: 165px;
  }

  .catalog-card--main {
    background: #f2f2f2;
  }

  .catalog-card--more {
    min-height: 431px;
    background-color: #ffffff;
    color: #000000;
    outline: 2px solid #f2f2f2;
  }

  .catalog-card__name {
    margin: 0 20px 0 20px;
  }

  .catalog-card__product {
    margin-bottom: 33px;
  }

  .catalog-card__link {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 0 12px;
    width: 172px;
    height: auto;
    align-self: center;
    flex-shrink: 0;
  }

  .catalog-card__link--big {
    padding: 0;
    margin: 0 0 15px;
    flex-shrink: 0;
  }

  .catalog-card__name--add {
    margin: 0 40px 0 40px;
  }

  .catalog-card__title {
    padding: 20px 30px 0 30px;
    margin-bottom: 22px;
  }

  .catalog-card__title--add::before {
    content: url("../img/images-catalog/plus-desktop.svg");
    order: 1;
  }

  .catalog-card__description {
    margin: 10px 35px 85px;
  }
}
