@media (max-width: $mobile-width-only) {
  .catalog-container{
    border-top: 1px solid #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .catalog-container{
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog-container{
    border-top: none;
  }
}
