.catalog__wrapper {
  display: flex;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: $mobile-width-only) {
  .catalog__options {
    width: 320px;
  }

  .catalog__wrapper {
    width: 320px;
  }

  .catalog__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 20px 0 20px;
  }

  .catalog__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 8px 20px 14px 20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__options {
    width: 768px;
  }

  .catalog__wrapper {
    width: 768px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 82px 30px 65px 30px;
  }

  .catalog__card {
    width: 324px;
    height: 511px;
    padding: 0;
    margin-bottom: 60px;
    background: linear-gradient(
      to top,
      #f2f2f2 430px,
      #ffffff 81px
      );
  }

  .catalog__card:nth-child(odd) {
    margin-right: 60px;
  }
}

@media (max-width: $desktop-width) {
  .catalog__options {
    width: 1440px;
  }

  .catalog__wrapper {
    width: 1440px;
  }

  .catalog__list {
    padding: 0;
    margin: 82px 0 65px 110px;
  }

  .catalog__card {
    width: 245px;
    margin-bottom: 63px;
    margin-right: 80px;
  }

  .catalog__card:nth-child(odd) {
    margin-right: 80px;
  }
}
