.catalog__wrapper {
  display: flex;
  justify-content: center;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (max-width: $mobile-width-only) {
  .catalog__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 20px 0 20px;
  }

  .catalog__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    padding: 8px 20px 14px 20px;
    width: 280px;
    min-height: 190px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 82px 30px 65px 30px;
  }

  .catalog__card {
    width: 324px;
    min-height: 511px;
    padding: 0;
    margin-bottom: 60px;
  }

  .catalog__card:nth-child(odd) {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    padding: 0;
    margin: 0 0 65px 110px;
  }

  .catalog__card {
    width: 245px;
    margin-bottom: 63px;
    margin-right: 80px;
  }

  .catalog__card:nth-child(odd) {
    margin-right: 80px;
  }
}
