@media (max-width: $mobile-width-only) {
  .catalog-container {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-container {
    width: 1440px;
  }
}
