.collaboration__wrapper {
  display: flex;
}

.collaboration__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.collaboration__address {
  font-family: "lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .collaboration {
    margin: 0;
    padding: 0;
  }

  .collaboration__wrapper {
    align-items: center;
    margin-bottom: 10px;
  }

  .collaboration__slogan {
    font-size: 16px;
    line-height: 20px;
    width: 50%;
    text-align: start;
    box-sizing: border-box;
    margin: 20px 0 20px;
    padding-left: 20px;
  }

  .collaboration__address {
    font-family: "lato", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    padding: 0;
    margin: 20px 0 20px;
    width: 50%;
    text-align: start;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .collaboration__wrapper {
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .collaboration__slogan {
    // margin: 56px 100px 56px 70px;
    text-align: start;
    box-sizing: border-box;
    margin: 40px 0 0;
    padding-left: 70px;
    padding-right: 200px;
    padding-top: 10px;
  }

  .collaboration__address {
    display: flex;
    margin: 40px 0 0;
    width: 50%;
    box-sizing: border-box;
    justify-content: flex-end;
    padding: 5px 67px 30px 80px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .collaboration__data {
    position: relative;
  }

  .collaboration__slogan {
    display: flex;
    align-self: center;
    margin: 0;
    padding-left: 80px;
    padding-right: 100px;
    padding-top: 0;

    & br {
      display: none;
    }
  }

  .collaboration__wrapper {
    justify-content: space-between;
    height: 198px;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    width: 565px;
    margin-top: 90px;
    margin-left: 110px;
  }

  .collaboration__address {
    margin: 0;
    display: flex;
    width: 80%;
    justify-content: flex-end;
    padding: 60px 55px 30px 0;
    text-align: start;
  }
}
