.collaboration {
  width: 320px;
  margin: 0;
  padding: 0;
}

.collaboration__wrapper {
  display: flex;
}

.collaboration__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 20px;
  margin-right: 2px;
}

.collaboration__address {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  padding: 26px 20px 26px 0;
  margin: 0;
}
