.collaboration__wrapper {
  display: flex;
}

.collaboration__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.collaboration__address {
  font-family: "lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .collaboration {
    margin: 0;
    padding: 0;
  }

  .collaboration__slogan {
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
    margin-right: 2px;
  }

  .collaboration__address {
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    padding: 26px 20px 26px 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .collaboration__wrapper {
    justify-content: space-between;
  }

  .collaboration__slogan {
    padding-left: 20px;
    margin: 56px 140px 56px 70px;
  }

  .collaboration__address {
    align-items: center;
    justify-self: end;
    margin: 56px 70px 56px 140px;
  }
}

@media (min-width: $desktop-width) {
  .collaboration__data {
    position: relative;
  }
  .collaboration__slogan {
    padding-left: 20px;
    margin-right: 2px;
    padding-right: 80px;
    display: flex;
    align-self: center;
  }

  .collaboration__wrapper {
    justify-content: space-between;
    height: 198px;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    width: 565px;
    margin-top: 95px;
    margin-left: 110px;
  }

  .collaboration__slogan {
    margin: 59px 43px 56px 80px;
  }

  .collaboration__address {
    margin: 56px 63px 56px 43px;
  }
}
