.copyright__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: "lato", "Arial", sans-serif;
  line-height: 19px;
  font-size: 16px;
  color: #444444;
}

// .copyright__link:hover {
//   color: #444444;
// }

// .copyright__link:focus {
//   color: #444444;
// }

// .copyright__link:active {
//   color: #444444;
//   opacity: 0.3;
// }

.copyright__link svg {
  display: flex;
  margin-left: 141px;
}

.copyright__link svg {
  fill: #444444;
}

.copyright__link:hover svg {
  fill: #68b738;
}

.copyright__link:active svg {
  fill: #68b738;
  opacity: 0.3;
}
