.copyright__link {
  display: flex;
  text-decoration: none;
  color: rgba(68, 68, 68, 1);
  align-items: center;
  justify-content: center;
}

.copyright__link:hover {
  color: #68b738;
}

.copyright__link:active {
  background-color: #68b738;
  opacity: 0.3;
}

.copyright__image {
  display: flex;
  margin-left: 27px;
}
