.experience {
  width: 100%;
}

.experience__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  justify-content: center;
  padding-top: 25px;
}

.experience__text {
  font-family: "lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: center;
}

.experience__list {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  justify-content: space-between;
}

.experience__item {
  border: #cdcdcd 1px solid;
  width: 124px;
  min-height: 70px;
  border-radius: 3px;
  position: relative;
}

.experience__item:last-child {
  margin-right: 0;
}

.experience__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.experience__description {
  font-family: "lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  position: absolute;
  background-color: #eaeaea;
  text-align: center;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.experience__spent {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience__before::after {
  background-image: url("/img/images-mobile/curtain.svg");
  background-repeat: no-repeat; /*разделитель потерян*/
}

.experience__image {
  position: relative;
  width: 560px;
  height: 512px;
}

.experience__fat,
.experience__slim {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 50%;
}

.experience__fat {
  left: 0;
}

.experience__slim {
  right: 0;
}

.experience__before {
  width: 560px;
  height: 512px;
  max-width: none;
}

.experience__after {
  width: 560px;
  height: 512px;
  max-width: none;
  float: right;
}

.experience__slider {
  height: 100%;
  position: absolute;
  left: calc(50% - 20px);
}

@media (max-width: $mobile-width-only) {
  .experience {
    background-color: #eaeaea;
  }

  .experience__wrapper {
    min-height: 659px;
  }

  .experience__slogan {
    font-size: 36px;
    line-height: 40px;
    margin-top: 14px;
    justify-content: center;
    margin-left: 20px;
  }

  .experience__text {
    font-size: 14px;
    line-height: 18px;
    margin: 7px 0 20px 0;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .experience__image {
    display: flex;
    flex-wrap: nowrap;
    width: 280px;
    height: 256px;
    margin: 0 20px 0 20px;
  }

  .experience__example {
    margin-left: 20px;
    margin-right: 20px;
  }

  .experience__expenses {
    display: flex;
    justify-content: space-evenly;
  }

  .experience__amount {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience__before {
    width: 280px;
    height: 256px;
    max-width: none;
  }

  .experience__after {
    width: 280px;
    height: 256px;
    max-width: none;
    float: right;
  }
}

@media (min-width: $tablet-width) {
  .experience {
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(to bottom, #ffffff 619px, #e5e5e5 462px, #e5e5e5);
  }

  .experience__wrapper {
    border-top: 1px solid #e6e6e6;
  }

  .experience__slogan {
    margin-top: 43px;
    margin-left: 30px;
    justify-content: center;
  }

  .experience__text {
    margin: 63px 30px 54px 30px;
  }

  .experience__spent {
    font-size: 20px;
  }

  .experience__item {
    width: 162px;
  }

  .experience__item--slim {
    margin-right: 42px;
  }

  .experience__amount {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .experience__description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding: 0 7px;
    margin: 0;
    white-space: nowrap;
  }

  .experience__example {
    display: flex;
    justify-content: space-between;
    margin: 54px 30px 99px 30px;
    flex-wrap: wrap;
  }

  .experience__part {
    padding-bottom: 101px;
  }

  // .experience__fat {
  //   position: absolute;
  //   overflow: hidden;
  //   width: 50%;
  // }

  // .experience__before {
  //   width: 560px;
  //   height: 512px;
  //   max-width: none;
  // }

  .experience__image {
    width: 560px;
    height: 512px;
    margin: 0 104px;
  }

  // .experience__slim {
  //   width: 560px;
  //   height: 512px;
  // }

  // .experience__after {
  //   width: 560px;
  //   height: 512px;
  //   max-width: none;
  //   float: right;
  // }
}

@media (min-width: $desktop-width) {
  .experience {
    border-top: none;
    background: linear-gradient(to bottom, #ffffff 136px, #f2f2f2 136px, #f2f2f2);
  }

  .experience__wrapper {
    border-top: none;
  }

  .experience__slogan {
    margin-top: 69px;
    margin-left: 110px;
    justify-content: center;
  }

  .experience__fatslim {
    display: flex;
    justify-content: space-between;
  }

  // .experience__text {
  //   margin: 146px 338px 29px 110px;
  // }

  .experience__part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 598px;
  }

  .experience__text {
    margin: 70px 70px 69px 110px;
  }

  .experience__item {
    width: 162px;
  }

  .experience__item--slim {
    margin-right: 42px;
  }

  .experience__example {
    margin-left: 110px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .experience__expenses {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .experience__amount {
    align-self: center;
    margin-right: 50px;
  }

  .experience__description {
    background-color: #f2f2f2;
  }
}
