.experience {
  width: 100%;
}

.experience__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  justify-content: center;
  padding-top: 27px;
}

.experience__text {
  font-family: "lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: center;
}

.experience__list {
  display: flex;
  align-items: center;
  margin-top: 21px;
  justify-content: center;
}

.experience__item {
  border: #cdcdcd 1px solid;
  width: 124px;
  // height: 70px;
  border-radius: 3px;
  position: relative;
}

.experience__item:last-child {
  margin-right: 0;
}

.experience__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.experience__description {
  font-family: "lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  position: absolute;
  background-color: #eaeaea;
  text-align: center;
  padding: 8px 30px 10px 30px;
  margin: 0;
}

.experience__spent,
.experience__amount {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.experience__before::after {
  background-image: url("../img/images-mobile/curtain.svg");
  background-repeat: no-repeat;
}

.experience__image {
  position: relative;
  width: 560px;
  height: 512px;
}

.experience__fat,
.experience__slim {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 50%;
}

.experience__fat {
  left: 0;
}

.experience__slim {
  right: 0;
}

.experience__before {
  width: 560px;
  height: 512px;
  max-width: none;
}

.experience__after {
  width: 560px;
  height: 512px;
  max-width: none;
  float: right;
}

.experience__slider {
  height: 100%;
  position: absolute;
  left: calc(50% - 20px);

  &:hover .experience__slide {
    fill: #68b738;
  }

  &:active .experience__slide {
    fill: #5eaa2f;
    opacity: 0.6;
  }

  &:hover .experience__round {
    stroke: #68b738;
  }

  &:active .experience__round {
    stroke: #68b738;
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width-only) {
  .experience {
    background-color: #eaeaea;
    min-height: 659px;
  }

  .experience__wrapper {
    min-height: 659px;
  }

  .experience__slogan {
    font-size: 36px;
    line-height: 40px;
    margin-top: 17px;
    justify-content: center;
    margin-left: 20px;
  }

  .experience__text {
    font-size: 14px;
    line-height: 18px;
    margin: 7px 0 20px 0;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .experience__image {
    display: flex;
    flex-wrap: nowrap;
    width: 280px;
    height: 256px;
    margin: 20px;
  }

  .experience__example {
    margin-left: 20px;
    margin-right: 20px;
  }

  .experience__expenses {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .experience__spent {
    margin-right: 3px;
  }

  .experience__amount {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience__before {
    width: 280px;
    height: 256px;
    max-width: none;
  }

  .experience__after {
    width: 280px;
    height: 256px;
    max-width: none;
    float: right;
  }

  .experience__list {
    gap: 32px;
  }

  .experience__item {
    display: flex;
    flex-direction: column;
    min-height: 56px;
  }

  .experience__description {
    padding: 0 5px;
    margin: 47px 0 0;
    align-self: center;
  }
}

@media (min-width: $tablet-width) {
  .experience {
    min-height: 1080px;
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(to bottom, #ffffff 619px, #e5e5e5 462px, #e5e5e5);
  }

  .experience__wrapper {
    border-top: 1px solid #e6e6e6;
  }

  .experience__slogan {
    margin-top: 43px;
    margin-left: 30px;
    padding: 0;
    justify-content: center;
  }

  .experience__text {
    margin: 63px 30px 34px;
  }

  .experience__spent {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .experience__number {
    font-size: 30px;
    line-height: 37px;
  }

  .experience__item {
    width: 162px;
    min-height: 77px;
    display: flex;
    flex-direction: column;
  }

  .experience__item--slim {
    margin-right: 42px;
  }

  .experience__expenses {
    margin-top: 12px;
  }

  .experience__amount {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
  }

  .experience__description {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding: 0 7px;
    margin: 62px 0 0;
    white-space: nowrap;
    align-self: center;
  }

  .experience__description br {
    display: none;
  }

  .experience__example {
    display: flex;
    justify-content: space-between;
    margin: 24px 30px 80px 30px;
    flex-wrap: wrap;
  }

  // .experience__fat {
  //   position: absolute;
  //   overflow: hidden;
  //   width: 50%;
  // }

  // .experience__before {
  //   width: 560px;
  //   height: 512px;
  //   max-width: none;
  // }

  .experience__image {
    width: 560px;
    height: 512px;
    margin: 0 104px;
  }

  // .experience__slim {
  //   width: 560px;
  //   height: 512px;
  // }

  // .experience__after {
  //   width: 560px;
  //   height: 512px;
  //   max-width: none;
  //   float: right;
  // }
}

@media (min-width: $desktop-width) {
  .experience {
    border-top: none;
    min-height: 600px;
    background: linear-gradient(to bottom, #ffffff 136px, #f2f2f2 136px, #f2f2f2);
  }

  .experience__wrapper {
    border-top: none;
  }

  .experience__slogan {
    margin-top: 10px;
    margin-left: 0;
    justify-content: center;
  }

  .experience__fatslim {
    display: flex;
    justify-content: space-between;
  }

  // .experience__text {
  //   margin: 146px 338px 29px 110px;
  // }

  .experience__part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 598px;
    margin-left: 110px;
    margin-bottom: 20px;
  }

  .experience__text {
    max-width: 433px;
    margin: 93px 0 30px;
  }

  .experience__item {
    width: 162px;
  }

  .experience__image {
    margin: 0 110px 0 0;
  }

  .experience__item--slim {
    margin-right: 42px;
  }

  .experience__example {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .experience__list {
    justify-content: start;
    margin-top: 40px;
  }

  .experience__expenses {
    display: flex;
    text-align: center;
    align-items: center;
    // margin: 0;
    margin-top: 40px;
  }

  .experience__spent {
    padding-right: 67px;
    margin: 0;
  }

  .experience__amount {
    align-self: center;
    margin: 0;
  }

  .experience__description {
    background-color: #f2f2f2;
  }
}
