.footer {
  background-color: #f2f2f2;
}
.footer__part {
  box-sizing: border-box;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__logo:disabled {
  opacity: 0.6;
}

.footer__copyright {
  padding: 22px 20px 22px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $mobile-width-only) {
  .footer {
    padding: 0;
    margin: 0;
  }

  .footer__wrapper {
    width: 320px;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .footer__social {
    flex-direction: row;
    justify-content: center;
    border-bottom: #d9d9d9 1px solid;
  }

  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 96px 32px 96px;
    border-bottom: #d9d9d9 1px solid;
  }

  .footer__copyright {
    padding: 22px 20px 22px 19px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .footer__part {
    display: flex;
    justify-content: space-around;
    padding: 58px 30px 55px 30px;
  }

  .footer__logo {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .footer__social {
    padding: 0;
  }

  .footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__part {
    display: flex;
    justify-content: space-around;
    padding: 58px 30px 55px 30px;
  }

  .footer__logo {
    display: flex;
    padding: 0;
    justify-content: center;
  }

  .footer__social {
    padding: 0;
  }

  .footer__copyright {
    padding: 0;
  }
}
