.footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: #D9D9D9 1px solid;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  padding: 39px 96px 32px 96px;
  border-bottom: #D9D9D9 1px solid;
}


.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 94px 21px 94px;
  padding: 0;
}

.social__item {
  display: flex;
  padding-right: 24px;
}

.social__item:last-child {
  padding-right: 0;
}

.footer__copyright {
  margin: 22px 20px 22px 19px;
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  display: flex;
  text-decoration: none;
  color: rgba(68, 68, 68, 1);
  align-items: center;
  justify-content: center;
}

.copyright__image {
  display: flex;
}
