.gift {
  width: 280px;
  height: 289px;
  background-image: url("/img/images-catalog/gift.png");
  background-repeat: no-repeat;
  margin: 35px 20px 35px 20px;
}

.gift__text {
  color: rgba(255, 255, 255, 1);
  font-family: "lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 186px 61px 43px 58px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.gift__text::before {
  content: url("/img/images-catalog/icon-gift.svg");
  position: absolute;
  bottom: 151px;
}
