.gift {
  width: 280px;
  min-height: 289px;
  background-image: url("../img/images-catalog/gift.png");
  background-repeat: no-repeat;
  margin: 35px 20px 35px 20px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/images-mobile/gift-mobile@2x.png");
  }
}

.gift__text {
  color: rgba(255, 255, 255, 1);
  font-family: "lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 186px 61px 43px 58px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.gift__text::before {
  content: url("../img/images-catalog/icon-gift.svg");
  position: absolute;
  bottom: 151px;
}

@media (min-width: $tablet-width) {
  .gift {
    width: 707px;
    min-height: 200px;
    background-image: url("../img/images-tablet/gift-tablet.png");
    background-repeat: no-repeat;
    margin: 0 30px 76px 31px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/images-tablet/gift-tablet@2x.png");
    }
  }

  .gift__text {
    padding: 80px 100px 10px 450px;
  }

  .gift__text::before {
    top: 65px;
    left: 100px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/images-desktop/gift-desktop.png");
    background-repeat: no-repeat;
    margin: 80px 109px 86px 79px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/images-desktop/gift-desktop@2x.png");
    }
  }

  .gift__text::before {
    display: none;
  }
}
