.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
}

.main-header__logo {
  height: 37px;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
}

.main-header__toggle {
  width: 24px;
  height: 16px;
  margin-top: 4px;
  border: none;
  background-image: url(/source/img/images-mobile/mobile-open.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
}

