.main-nav {
  display: flex;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 auto;
  text-transform: capitalize;
  text-decoration: none;
  justify-content: center;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:disabled {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    min-height: 198px;
    background-color: #ffffff;
    z-index: 1;
  }

  .main-nav--nojs {
    display: block;
    position: static;
  }

  .main-nav--opened {
    min-height: 198px;
  }

  .main-nav--closed {
    display: none;
  }

  // #toggle-checkbox:checked ~ .main-nav {
  //   display: block;
  // }

  .main-nav--closed .main-header__toggle--nojs {
    display: none;
  }

  .site-list a {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 20px;
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #e6e6e6;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--closed .site-list__item--active a {
    border-bottom: 2px solid #68b738;
    text-align: center;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: center;
  }

  .main-nav__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 24px;
    text-transform: capitalize;
    text-decoration: none;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    align-items: baseline;
    margin-top: 18px;
  }

  .main-nav__wrapper {
    width: 440px;
    margin: 0 auto;
  }

  .main-nav__list {
    text-decoration: none;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 10px;
  }

  .site-list__item--current {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    align-items: baseline;
    margin-top: 69px;
    z-index: 2;
  }

  .main-nav__list {
    text-decoration: none;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 8px;
  }

  .main-nav__wrapper {
    margin: 0 auto;
  }

  .main-nav__link--index {
    color: #ffffff;
  }
}
