.main-header {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  color: #000000;
  padding-top: 11px;
  // padding-bottom: 17px;
  justify-content: center;

  #toggle-checkbox {
    display: none;
  }
}

.main-header__logo {
  height: 37px;
  width: 191px;
  margin-right: 65px;
  border: none;
  background-image: url("/img/images-mobile/mobile-logo.svg");
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header {
    position: relative;
    height: 65px;
  }

  .main-header__toggle, .main-header__toggle--nojs {
    position: relative;
    padding: 0;
    top: 0;
    right: 0;
    width: 24px;
    height: 22px;
    cursor: pointer;
    justify-self: end;
    border: none;
    background: url("/img/images-mobile/toggle-icon.svg") center no-repeat;
    background-color: transparent;
  }

  // .main-header__toggle--nojs {
  //   display: none;
  // }

  .main-header__toggle--nojs ~ .main-header__toggle {
    display: none;
  }

  .main-header__toggle.active {
    background: url("/img/images-mobile/close-icon.svg") center no-repeat;
  }

}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-header {
    margin: 0 auto;
    padding: 0;
    height: 105px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    height: 51px;
    width: 174px;
    background-image: url("/img/images-tablet/logo-tablet.svg");
    background-repeat: no-repeat;
    margin-right: 90px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
    padding: 0;
    height: 111px;
    align-items: center;
  }

  .main-header__toggle {
    display: none;
  }


  .main-header__logo {
    height: 59px;
    width: 202px;
    background-image: url("/img/images-desktop/logo-desktop.svg");
    background-repeat: no-repeat;
    margin-top: 53px;
    margin-right: 540px;
  }
}
