.main-nav {
  display: flex;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin: o auto;
  text-transform: capitalize;
  text-decoration: none;
  justify-content: center;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:disabled {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    width: auto;
    position: relative;
    min-height: 198px;
    background-color: #ffffff;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: url("/img/images-mobile/open-mobile.svg");
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
  }

  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 14px;
    margin-top: 4px;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #ffffff;
  }

  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: auto;
    left: 0;

    &::before,
    &::after {
      content: url("/img/images-mobile/close-icon.svg");
      position: absolute;
      top: 10px;
      left: 5px;
      width: 36px;
      height: 2px;
      background-color: #ffffff;
    }

    .main-nav--closed .site-list__item {
      display: none;
    }
  }

  .main-nav__link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 24px;
    text-decoration: none;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    align-items: baseline;
    margin-top: 18px;
  }

  .main-nav__wrapper {
    width: 440px;
    margin: 0 auto;
  }

  .main-nav__list {
    text-decoration: none;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 10px;
  }

  .site-list__item--current {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    align-items: baseline;
    margin-top: 69px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    text-decoration: none;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }

  .main-nav__link {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c74343;
  }

  .main-nav__wrapper {
    margin: 0 auto;
  }
}
