.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
  width: 320px;
  padding: 11px 20px 17px 20px;
}

.main-header__logo {
  height: 37px;
  margin-right: 65px;
  border: none;
}
