.map iframe {
  border: none;
  display: block;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .map iframe {
    height: 362px;
  }
}

@media (min-width: $tablet-width) {
  .map iframe {
    height: 400px;
  }
}
