.options {
  margin: 20px;
  width: 100%;
}

.options__program {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options__program-item {
  width: 280px;
  min-height: 266px;
  box-sizing: border-box;
  text-align: right;
  word-break: break-word;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(242, 242, 242, 1);
}

.options__program-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 91px;
}

.options__program-description {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  text-align: left;
  padding: 29px 33px 23px 20px;
}

.options__program-description::after {
  width: 240px;
  height: 1px;
  content: "";
  background-color: rgba(217, 217, 217, 1);
  margin-top: -23px;
}

.options__program-item--slim::before {
  content: url("/img/images-mobile/option-slim.svg");
  position: absolute;
  top: 21px;
  left: 22px;
}

.options__program-item--gain::before {
  content: url("/img/images-mobile/option-gain.svg");
  position: absolute;
  top: 24px;
  left: 13px;
}
