.page {
  height: 100%;
  font-family: "lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .page__body--image::before {
    background-image: url("img/images-desktop/cat-index-desktop.png");
    background-color: #68b738;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    content: "";
    height: 696px;

    @media (min-resolution: 2dppx) {
      background-image: url("img/images-desktop/cat-ind-desktop@2x.png");
    }
  }

  .page__body--image {
    position: relative;
  }
}
