.page-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #EBEBEB;
  margin-top: 27px;
  margin-bottom: 41px;
  margin-left: 20px;
}
