.page-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  display: flex;
}

@media (max-width: $mobile-width-only) {
  .page-title {
    font-size: 36px;
    line-height: 36px;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 41px;
    margin-left: 20px;
  }

  .page-title--catalog {
    margin-top: 27px;
    margin-bottom: 41px;
    margin-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    margin-top: 65px;
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  .page-title--catalog {
    margin-top: 27px;
    margin-bottom: 41px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    font-size: 60px;
    line-height: 60px;
    justify-content: center;
    margin-top: 74px;
    margin-bottom: 41px;
    margin-left: 20px;
  }

  .page-title--catalog {
    padding-top: 74px;
    margin-bottom: 41px;
    margin-left: 110px;
  }
}
