.page {
  height: 100%;
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .page__body {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1440px;
  }
}
