.program {
  border-top: 1px solid #ebebeb;
}

.program__wrapper {
  margin: 0 auto;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #000000;
  display: flex;
  text-align: center;
}

.program__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: $mobile-width-only) {
  .program__title {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    justify-content: center;
  }

  .program__text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: $tablet-width) {
  .program__title {
    text-align: center;
    margin-top: 65px;
    margin-left: 69px;
  }

  .program__text {
    margin-top: 54px;
    margin-left: 70px;
    margin-right: 375px;
  }
}

@media (min-width: $desktop-width) {
  .program__title {
    text-align: center;
    margin-top: 73px;
    margin-right: 110px;
  }

  .program__text {
    margin-top: 56px;
    margin-right: 1007px;
    margin-bottom: 56px;
  }
}
