.program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #000000;
}

.program__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: $mobile-width-only) {
  .program {
    border-top: 1px solid #ebebeb;
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  .program__text {
    font-size: 14px;
    line-height: 18px;
    margin-right: 74px;
  }

  .program__content {
    margin-bottom: 32px;
  }

  .program__name {
    padding-left: 20px;
  }

  .program__slogan {
    padding-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .program {
    border-top: none;
  }

  .program__title {
    text-align: start;
    margin-top: 10px;
    margin-left: 70px;
  }

  .program__text {
    margin: 54px 375px 65px 70px;
  }

  .program__content {
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .program__title {
    text-align: center;
    margin-top: 65px;
    margin-left: 69px;
  }

  .program__text {
    margin-top: 56px;
    margin-right: 1007px;
    margin-bottom: 56px;
  }

  .program__content {
    margin-bottom: 82px;
  }
}
