.promotion {
  display: flex;
  width: 100%;
}

.promotion__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.promotion__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.promotion__link {
  width: 244px;
  padding: 14px 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: rgba(104, 183, 56, 1);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: $mobile-width-only) {
  .promotion {
    display: flex;
    min-height: 480px;
    margin-bottom: 20px;
  }

  .promotion__name {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .promotion__slogan {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    align-items: center;
    height: 40px;
  }

  .promotion__program {
    display: flex;
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }

  .promotion__wrapper {
    background-image: url("/img/images-mobile/cat-index.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/images-mobile/cat-index-mobile@2x.png");
    }
  }

  .promotion__link {
    width: 280px;
    padding: 10px 44px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    min-height: 40px;
  }

  .promotion__image {
    margin-left: 20px;
    margin-top: -10px;
  }
}

@media (min-width: $tablet-width) {
  .promotion__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .promotion__name {
    margin: 10px 100px 41px 117px;
  }

  .promotion__slogan {
    margin-left: 119px;
  }

  .promotion__link {
    margin-left: 120px;
    margin-top: 49px;
  }

  .promotion__image {
    display: flex;
    justify-content: center;
    width: 709px;
    height: auto;
    margin-top: -20px;
    margin-left: 80px;
    order: 1;
  }

  .promotion__product {
    width: 100%;
  }

  .promotion__program {
    margin-top: 49px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .promotion__name {
    margin-left: 190px;
    margin-top: 111px;
  }

  .promotion__slogan {
    margin-left: 190px;
    margin-top: 40px;
  }

  .promotion__link {
    margin-left: 190px;
    margin-top: 49px;
    margin-bottom: 52px;
  }

  .promotion__product {
    margin: -50px;
    width: 100%;
  }

  .promotion__image {
    height: auto;
    width: 552px;
    margin-top: 90px;
    margin-left: -120px;
    order: 0;
  }

  .promotion__advert {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
  }

  .promotion__wrapper {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    flex-direction: row;
  }

  .promotion__program {
    margin-top: 0;
  }
}
