.site-list {
  display: flex;
  flex-wrap: wrap;
}

.site-list__item {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .site-list__item--current {
    border-bottom: 2px solid #68b738;
  }

  .site-list__item--first {
    margin-right: 34px;
  }

  .site-list__item--second {
    margin-right: 36px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--current {
    border-bottom: 2px solid #68b738;
  }

  .site-list__item--current .main-nav__link--index {
    border-bottom: 2px solid #ffffff;
  }

  .site-list__item--first {
    margin-right: 37px;
  }

  .site-list__item--second {
    margin-right: 32px;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list {
    width: 100%;
    flex-direction: column;
    justify-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .site-list__item {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #e6e6e6;
  }
}
