.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 94px 15px;
  padding: 0;
  align-items: center;
  width: 138px;
  height: 22px;
}

.social__item {
  display: flex;
  padding-right: 24px;
}

.social__item:last-child {
  padding-right: 0;
}

.social__link {
  align-self: center;
  text-align: center;
}

.social__link:hover {
  svg path {
    fill: #68b738;
  }
}

.social__link:disabled {
  svg path {
    background-color: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 100%;
    height: 100%;
  }
}
