.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 94px 15px;
  padding: 0;
}

.social__item {
  display: flex;
  padding-right: 30px;
}

.social__item:last-child {
  padding-right: 0;
}

.social__link {
  align-self: center;
  text-align: center;
}

.social__link:hover {
  svg path {
    fill: #68b738;
  }
}

.social__link:disabled {
  svg path {
    background-color: #68b738;
    opacity: 0.3;
  }
}
