.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 94px 21px 94px;
  padding: 0;
}

.social__item {
  display: flex;
  padding-right: 24px;
}

.social__item:last-child {
  padding-right: 0;
}

.social__link:hover {
  svg path {
    fill: #68b738;
  }
}

.social__link:disabled {
  svg path {
    background-color: #68b738;
    opacity: 0.3;
  }
}

.copyright__image:hover {
  svg path {
    fill: #68b738;
  }
}

.copyright__image:disabled {
  svg path {
    fill: #68b738;
    opacity: 0.3;
  }
}
