@import "variables.scss";
@import "fonts.scss";
@import "blocks/page.scss";
@import "blocks/container.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/additional.scss";
@import "blocks/advantages.scss";
@import "blocks/promotion.scss";
@import "blocks/application-form.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-card.scss";
@import "blocks/site-list.scss";
@import "blocks/catalog-container.scss";
@import "blocks/global.scss";
@import "blocks/collaboration.scss";
@import "blocks/experience.scss";
@import "blocks/copyright.scss";
@import "blocks/footer.scss";
@import "blocks/gift.scss";
@import "blocks/main-container.scss";
@import "blocks/map.scss";
@import "blocks/options.scss";
@import "blocks/page-title.scss";
@import "blocks/program.scss";
@import "blocks/social.scss";
@import "blocks/additional-card.scss";
